### Java ###
*.class
*.log
*.jar
*.war
*.ear

### Build Tools (Maven/Gradle) ###
target/
build/
.gradle/
.mvn/

### STS / Eclipse ###
.settings/
.project
.classpath
bin/
.metadata/
*.launch
*.tmp
*.bak

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### VS Code ###
.vscode/

### Operating System ###
Thumbs.db
.DS_Store

### Environment Variables ###
.env
.env.local